
*.pyc
.vscode/settings.json
config.yaml
Output.csv
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/SeniorProject2019TBA.iml
.idea/vcs.xml
.vs/ProjectSettings.json
.vs/SeniorProject2019TBA5/v15/.suo
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vscode/launch.json
